@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3, h4, h5 {
  text-align: center;
}

.container {
  width: 80%;
  margin: auto;
}

.house-card {
  background-color: aquamarine;
  margin: 1rem auto;
}

.house-card .info-container p span {
  margin: 0.5rem;
  font-weight: 700;
  font-size: 16px;
  background-color: #DCE0E5;
  padding: 0.5rem;
}

.house-card .info-container p {
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.house-card .trait-item {
  text-align: center;
  margin: 1rem;
  background-color: #1D7324;
  padding: 1rem;
  color: #DCE0E5;
}

footer {
  text-align: center;
  background-color: #1C2127;
  color: #F6F7F9;
  padding: 1rem;
  margin: 1rem auto;
}